<!DOCTYPE html>
<html>
<head>
<title>Template</title>
</head>
<body>
</body>
<script type="text/template" name="header">
<div>{{.title}}</div>
</script>
<script type="text/template" name="footer">
<div>{{.copyright}}</div>
</script>
<script type="text/template" name="view">
{{template header .header}}

{{if .books}}
{{elseif .books}}
{{else}}
{{end}}

{{if data.books.length > 0}}
{{elseif data.books.length > 1}}
{{else}}
{{end}}

{{/* 商品数量 */}}
<div>book count: {{data.books.length}}</div>

{{/* 商品列表 */}}
<div>
	<table>
{{range .books}}
		<tr>
			<td>{{.id}}</td>
			<td>{{.name}}</td>
			<td>{{.price}}</td>
			<td>{{.cover}}</td>
		</tr>
{{endrange}}
	</table>
</div>

{{/* 商品列表 */}}
<div>
	<table>
{{range var i in data.books}}
{{#data = data.books[i]}}
		<tr>
			<td>{{.id}}</td>
			<td>{{.name}}</td>
			<td>{{.price}}</td>
			<td>{{.cover}}</td>
		</tr>
{{endrange}}
	</table>
</div>

{{template footer .footer}}
</script>
<script type="text/javascript">
// copyright dotcoo@163.com
// template librarry
// author : dotcoo@163.com
function Template(source, target) {};

Template.prototype.parse = function (js) {
	js = js.replace(/\\/g, 								"\\\\");
	js = js.replace(/'/g, 								"\\'");
	// js = js.replace(/^\s+/gm, 							"");
	// js = js.replace(/\s+$/gm, 							"");
	// js = js.replace(/\n/g, 								"");
	js = js.replace(/\t/g, 								"\\t");
	js = js.replace(/\n/g, 								"\\n");
	js = js.replace(/{{\/\*(.+?)\*\/}}/g, 				"");
	js = js.replace(/{{if \.(.+?)}}/g, 					"';if(data.$1){html+='");
	js = js.replace(/{{if (.+?)}}/g, 					"';if($1){html+='");
	js = js.replace(/{{else}}/g, 						"';}else{html+='");
	js = js.replace(/{{else ?if \.(.+?)}}/g, 			"';}else if(data.$1){html+='");
	js = js.replace(/{{else ?if (.+?)}}/g, 				"';}else if($1){html+='");
	js = js.replace(/{{end}}/g, 						"';}html+='");
	js = js.replace(/{{range \.(.+?)}}/g, 				"';for(var i in data.$1){data=data.$1[i];html+='");
	js = js.replace(/{{range (.+?)}}/g, 				"';for($1){html+='");
	js = js.replace(/{{endrange}}/g, 					"';data=_data;}html+='");
	js = js.replace(/{{template (\S+?)}}/g, 			"'+this.render('$1',data)+'");
	js = js.replace(/{{template (\S+?) \.(.+?)}}/g, 	"'+this.render('$1',data.$2)+'");
	js = js.replace(/{{template (\S+?) (.+?)}}/g, 		"'+this.render('$1',$2)+'");
	js = js.replace(/{{#(.+?)}}/g, 						"';$1;html+='");
	js = js.replace(/{{\.(.+?)}}/g, 					"'+data.$1+'");
	js = js.replace(/{{(.+?)}}/g, 						"'+$1+'");
	return js;
};

Template.prototype.build = function (name, content) {
	var prefix = "var data=_data;var html='";
	var suffix = "';return html;";
	var js = prefix + this.parse(content) + suffix;
	this["tpls_" + name] = new Function("_data", js);
};

Template.prototype.builds = function () {
	var tpls = document.getElementsByTagName("script");
	for (var i = 0; i < tpls.length; i++) {
		var tpl = tpls[i];
		if (tpl.type != "text/template") {
			continue;
		}
		this.build(tpl.getAttribute("name"), tpl.innerHTML);
	}
};

Template.prototype.render = function (name, _data) {
	if (!this["tpls_" + name]) {
		return 'template ' + name + ' not found!';
	}
	return this["tpls_" + name](_data);
};
</script>
<script type="text/javascript">
var data = {
	header: {
		title: 'page title'
	},
	footer: {
		copyright: 'page end'
	},
	books: [
		{id:1, name:"java", price:45, cover:"java.png"},
		{id:2, name:".net", price:40, cover:"net.png"},
		{id:3, name:"php", price:60, cover:"php.png"}
	]
};

var tpl = new Template();
tpl.builds();
document.body.innerHTML = tpl.render("view", data);
// console.log(tpl.render("view", data));
</script>
</html>